.stars-wrapper {
    display: flex;
    gap: 0.1rem;
}
 
.star-filled, .star-empty {
    color: #f7c348;
    text-shadow: 0.2px 0.5px 0 rgba(0, 0, 0, 0.25);
}


/* <div class='stars-wrapper'>
    <% for( let i = 0; i < review?.rating; i++ ) { %>
        <div class='star-filled'>&#9733;</div>
    <% } %>
    <% for( let i = 0; i < 5 - review?.rating; i++ ) { %>
        <div class='star-empty'>&#9734;</div>
    <% } %>
</div>  */