<% layout('layout/boilerplate') %>

    
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="col">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://media.istockphoto.com/id/2161795233/photo/little-river-synchronous-fireflies-elkmont-campgrounds-great-smokey-mountains.webp?a=1&b=1&s=612x612&w=0&k=20&c=ZQRNwLBkSmTIi5mwF2bgp0RlbPWHZUSz7q9-vtEYk5s="
                    class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Login</h3>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username: </label>
                                <input class="form-control" type="text" id="username" name="username" autofocus placeholder="Please enter your Username" required>
                                <div class="valid-feedback">
                                    Looking good! Nice username!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password: </label>
                                <input class="form-control" type="password" id="password" name="password" placeholder="Please enter your password" required>
                                <div class="valid-feedback">
                                    Looking good! Nice password!
                                </div>
                            </div>
                            <div class="d-grid gap-2 mx-auto">
                                <button class="btn btn-success btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>